:root {
  --bg-color: #fff;
  --bg-secondary-color: #1f2833;
  --border-primary-color: #1f2833;
  --font-primary-color: #1f2833;
  --font-secondary-color: #00acd7;
  --button-primary-color: #00acd7;
}

[data-theme="dark"] {
  --bg-color: #1f2833;
  --bg-secondary-color: #fff;
  --border-primary-color: #fff;
  --font-primary-color: #fff;
  --font-secondary-color: #00acd7;
  --button-primary-color: #00acd7;
}

* {
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--bg-color);
}

.header {
  margin: auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.nav__link {
  font-weight: 900;
  font-size: 19px;
  color: var(--font-primary-color);
  text-decoration: none;
}

.nav__active {
  margin-left: 2px;
  position: absolute;
}

.nav__title {
  display: inline-block;
  width: 50%;
  text-align: left;
  font-weight: 900;
  font-size: 42px;
  text-decoration: none;
  color: var(--font-primary-color);
}

.nav__link--mobile {
  display: none;
}

.home {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1280px;
}

.home__bannerwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.home__bannerimage {
  max-width: 600px;
  max-height: 630px;
  border-radius: 44px;
  width: 100%;
}

.home__descwrapper {
  width: 50%;
  padding: 5px;
}

.home__p {
  font-weight: 800;
  font-size: 18px;
  color: var(--font-primary-color);
}

.home__title {
  font-weight: 900;
  font-size: 54px;
  color: var(--font-primary-color);
}

.about {
  margin: 0 auto;
  max-width: 700px;
}

.about__title {
  font-weight: 900;
  font-size: 54px;
  color: var(--font-primary-color);
}

.about__subtitle {
  margin: 10px 0;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.1em;
  color: var(--font-primary-color);
}

.about__p {
  color: var(--font-primary-color);
  letter-spacing: 0.1em;
  line-height: 27px;
}

.about__button {
  background-color: var(--button-primary-color);
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  margin-top: 20px;
  padding: 20px 50px;
  border-radius: 10px;
  border: none;
}

.about__button:hover {
  background-color: var(--bg-secondary-color);
  color: var(--bg-color);
  font-weight: 700;
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 10px;
  cursor: pointer;
}

.portofolio {
  margin: 0 auto;
  max-width: 700px;
}

.portofolio__title {
  font-weight: 900;
  font-size: 54px;
  color: var(--font-primary-color);
}

.card {
  margin-bottom: 200px;
}

.card__image {
  width: 100%;
  border-radius: 5px;
}

.card__gallery {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.card__title {
  margin: 20px 0;
  font-weight: 600;
  font-size: 24px;
  color: var(--font-primary-color);
}

.card__title--center {
  text-align: center;
}

.card__p {
  color: var(--font-primary-color);
}

.education {
  margin: 0 auto;
  max-width: 700px;
}

.education__title {
  font-weight: 900;
  font-size: 54px;
  color: var(--font-primary-color);
}

.education__placename {
  margin: 10px 0;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.1em;
  color: var(--font-primary-color);
}

.education__duration {
  margin: 10px 0;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.1em;
  color: var(--font-primary-color);
}

.education__li {
  color: var(--font-primary-color);
  margin-bottom: 70px;
}

.education__li::marker {
  color: var(--font-primary-color);
  font-size: 3rem;
}

.experience {
  margin: 0 auto;
  max-width: 700px;
}

.experience__title {
  font-weight: 900;
  font-size: 54px;
  color: var(--font-primary-color);
}

.experience__placename {
  margin: 10px 0;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.1em;
  color: var(--font-primary-color);
}

.experience__li {
  color: var(--font-primary-color);
  margin-bottom: 70px;
}

.experience__li::marker {
  color: var(--font-primary-color);
  font-size: 3rem;
}

.contact {
  margin: 0 auto;
  max-width: 700px;
}

.contact__title {
  font-weight: 900;
  font-size: 54px;
  color: var(--font-primary-color);
}

.contact__p {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: var(--font-primary-color);
}

.contact__a {
  color: var(--font-primary-color);
  text-decoration: none;
}

.contact__a:hover {
  color: var(--font-secondary-color);
  text-decoration: none;
}

.contact__label {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
  color: var(--font-primary-color);
}

.contact__inputarea {
  display: flex;
  margin-bottom: 40px;
  gap: 50px;
}

.contact__inputwrapper {
  width: 50%;
}

.contact__textareawrapper {
  margin-bottom: 40px;
}

.contact__input {
  font-weight: 700;
  font-size: 20px;
  padding-left: 5px;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.contact__textarea {
  font-size: 20px;
  padding-left: 5px;
  width: 100%;
  border-radius: 10px;
}

.contact__button {
  background-color: var(--button-primary-color);
  font-weight: 700;
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 10px;
  border: none;
}

.contact__buttonwrapper {
  margin-bottom: 40px;
}

.contact__button:hover {
  background-color: var(--bg-secondary-color);
  color: var(--bg-color);
  font-weight: 700;
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  margin-top: 30px;
  text-align: center;
}

.footer__line {
  margin: 0 auto;
  max-width: 1280px;
  height: 2px;
  background-color: var(--bg-secondary-color);
}

.footer__p {
  color: var(--font-primary-color);
}

.home__iconwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.home__iconbutton {
  display: flex;
  justify-content: center;
  color: var(--font-primary-color);
  width: 100%;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1;
  border: 1 solid;
  border-color: var(--border-primary-color);
  padding: 20px 30px;
  background: var(--bg-color);
  border-radius: 10px;
  transition: background 0.3s;
}

.home__iconbrandname {
  font-size: 18px;
  color: var(--border-primary-color);
  transform: translateX(-10px);
  opacity: 0;
}

.home__iconbutton--github:hover,
.home__iconbutton--github:focus {
  color: var(--bg-color);
  background: var(--bg-secondary-color);
  border-color: var(--bg-secondary-color);
}

.home__iconbutton--github:hover > .home__iconbrandname,
.home__iconbutton--github:focus > .home__iconbrandname,
.home__iconbutton--telegram:hover > .home__iconbrandname,
.home__iconbutton--telegram:focus > .home__iconbrandname,
.home__iconbutton--linkedln:hover > .home__iconbrandname,
.home__iconbutton--linkedln:focus > .home__iconbrandname {
  color: var(--bg-color);
  opacity: 100%;
  transform: translateX(5px);
  transition: transform 0.5s, opacity 0.5s;
}

.home__iconbutton--github:hover > .svg__icon,
.home__iconbutton--github:focus > .svg__icon,
.home__iconbutton--telegram:hover > .svg__icon,
.home__iconbutton--telegram:focus > .svg__icon,
.home__iconbutton--linkedln:hover > .svg__icon,
.home__iconbutton--linkedln:focus > .svg__icon {
  transform: translateX(-5px);
  transition: transform 0.5s;
}

.home__iconbutton--telegram:hover,
.home__iconbutton--telegram:focus {
  color: #2aabee;
  background: var(--bg-secondary-color);
  border-color: var(--bg-secondary-color);
}

.home__iconbutton--linkedln:hover,
.home__iconbutton--linkedln:focus {
  color: #0a66c2;
  background: var(--bg-secondary-color);
  border-color: var(--bg-secondary-color);
}

.svg__icon {
  transform: translateX(40px);
  height: 1em;
  width: 1em;
  fill: currentColor;
  transition: fill 0.2s;
}

.home__iconanchor {
  width: 100%;
  text-decoration: none;
}

.theme__switchwrapper {
  display: flex;
  align-items: center;
}

.theme__switchwrapper > em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme__switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme__switch input {
  display: none;
}

.theme__slider {
  background-color: var(--bg-secondary-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.theme__slider:before {
  background-color: var(--bg-color);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .theme__slider {
  background-color: var(--bg-secondary-color);
}

input:checked + .theme__slider:before {
  transform: translateX(26px);
}

.theme__slider--round {
  border-radius: 34px;
}

.theme__slider--round:before {
  border-radius: 50%;
}

@media screen and (max-width: 1025px) {
  .home__iconwrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .nav {
    flex-direction: column;
  }

  .nav__title {
    width: auto;
    font-weight: 900;
    font-size: 20px;
    color: var(--font-primary-color);
    text-decoration: none;
  }

  .home {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    text-align: center;
  }

  .home__title {
    font-weight: 900;
    font-size: 32px;
    color: var(--font-primary-color);
  }

  .contact__inputarea {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 50px;
  }

  .contact__inputwrapper {
    width: 90%;
  }

  .contact__textareawrapper {
    width: 90%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 400px) {
  .home__svg {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .home__svg {
    width: 100%;
  }
}
